<div class="row">
  <button class="btn btn-default" {{action 'delete' message}}>Delete Question</button>
  <div class="message">
    <div class="message-header">
      <div class="message-title">
        Issue: {{message.title}}
      </div>
        Date: {{message.date}} {{message.time}}
    </div>
    <div class="message-body">
      Question: {{message.body}}
    </div>
    Code Tried:
    <div class="message-code">
       {{message.code}}
    </div>

  </div>
  <div class="response">
    <h2>Solutions: ({{message.responses.length}})</h2>
    {{#each message.responses as |response|}}
      {{response-tile response=response destroyResponse="destroyResponse"}}
    {{/each}}
  </div>
</div>
