<br>
<div class="response-header">
  User: {{response.responder}}<br>
  Date: {{response.date}} {{response.time}}
</div>
<div class="response-answer">
  Answer: {{response.answer}}
</div>
Code:
<div class="response-code">
   {{response.code}}
</div>
<button class="btn btn-default" {{action 'delete' response}}>Delete Answer</button>
<hr>
