<h2>More information about {{model.poster}}'s question: {{model.title}}</h2>

{{update-message message=model update="update"}}

{{message-detail message=model destroyMessage="destroyMessage" destroyResponse="destroyResponse"}}

{{new-response saveResponse="saveResponse" message=model}}
